# .coveragerc to control coverage.py
[run]
branch = True
omit =
        */package/__init__.py
        source/app.py
        source/database*
        compose/*
        tests/*
        */__init__.py


[report]
omit =
        */package/__init__.py
        source/app.py
        source/database*
        compose/*
        tests/*
        */__init__.py
